.transaktion {
  background-color: #ffffff;
  margin-bottom: 20px;

  &__titel {
    color: #0077b6;
  }

  &__abschnitt {
    border: 1px solid #d6d6d6; /* Subtle border */
    border-radius: 8px;
    transition: border-color 0.3s;
    padding: 15px;
    margin-bottom: 30px;
    &:hover {
      border-color: #90caf9;
    }
  }

  &__ausgabe {
    display: flex;

    &--inputs {
      width: 90%;
    }

    &--loeschen {
      display: flex;
      align-items: center;
      justify-content: center;

      & mat-icon {
        display: block;
        width: 40px;
        height: 40px;
        font-size: 40px;
        text-align: center;
        cursor: pointer;
        color: #bf0048;
        border-radius: 50%;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
          background-color: #ffd4f4;
          color: #bf0048;
        }
      }
    }
  }

  &__button {
    &--speichern {
      background-color: #66bb6a;
      margin-right: 10px;
      &:hover {
        background-color: #4caf50;
      }
    }
    &--abbrechen {
      background-color: #bdbdbd;
      &:hover {
        background-color: #9e9e9e;
      }
    }
    &--hinzufuegen {
      background-color: #64b5f6;
      &:hover {
        background-color: #42a5f5;
      }
    }
  }
}

.example-form {
  min-width: 150px;
  max-width: 800px;
  width: 100%;
}

mat-card {
  width: 100%;
  height: 100%;
  padding: 20px;
}

mat-card-header,
mat-card-content,
{
  margin-bottom: 20px;
}

mat-card-header {
  color: darkblue;
}

mat-form-field,
mat-radio-group{
  width: 70%;
}


