<form [formGroup]="transaktionForm" class="example-form">
  <mat-card class="transaktion">
    <mat-card-header class="transaktion__titel">
      <h2>Transaktion Erfassen</h2>
    </mat-card-header>

    <mat-card-content>

      <fieldset class="transaktion__abschnitt">
        <legend>Art der Eingabe</legend>
        <mat-radio-group
          formControlName="tranksaktionsArt"
          (change)="onTransaktonArtChange($event)">
          <mat-radio-button value="{{EingabeArt.Einnahme}}">Einnahme</mat-radio-button>
          <mat-radio-button value="{{EingabeArt.Ausgabe}}">Ausgabe</mat-radio-button>
          <mat-radio-button value="{{EingabeArt.Notiz}}">Notiz</mat-radio-button>
        </mat-radio-group>
      </fieldset>

      <ng-container *ngIf="transaktionsArt === EingabeArt.Einnahme || transaktionsArt === EingabeArt.Notiz">
        <fieldset class="transaktion__abschnitt">
          <legend>Datum der Transaktion</legend>
          <mat-form-field>
            <mat-label>Wähle das Jahr</mat-label>
            <mat-select
              formControlName="jahr">
              <mat-option *ngFor="let jahr of jahrOptions"
                          [value]="jahr.value">{{jahr.label}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Wähle den Monat</mat-label>
            <mat-select
              formControlName="monat">
              <mat-option *ngFor="let monat of monatOptions"
                          [value]="monat.value">{{monat.label}}</mat-option>
            </mat-select>
          </mat-form-field>
        </fieldset>
      </ng-container>

      <ng-container *ngIf="transaktionsArt === EingabeArt.Notiz">
        <fieldset class="transaktion__abschnitt">
          <legend>Notiz</legend>
          <mat-form-field>
            <mat-label>Notiz</mat-label>
            <textarea matInput formControlName="notiz"></textarea>
          </mat-form-field>
        </fieldset>
      </ng-container>

      <ng-container *ngIf="transaktionsArt === EingabeArt.Einnahme">
        <fieldset class="transaktion__abschnitt">
          <legend>Einnahme</legend>
          <mat-form-field>
            <mat-label>Netto Einnahme</mat-label>
            <input matInput formControlName="betragEinnahme">
          </mat-form-field>
        </fieldset>
      </ng-container>

      <ng-container *ngIf="transaktionsArt === EingabeArt.Ausgabe">
        <div formArrayName="ausgabeAbschnitte">
          <div *ngFor="let abschnitt of ausgabeAbschnitte.controls; let i = index"
               [formGroupName]="i" class="transaktion__abschnitt transaktion__ausgabe">

            <div class="transaktion__ausgabe--inputs">
              <fieldset>
                <legend>Kategorie</legend>
                <mat-form-field>
                  <mat-label>Kategorie</mat-label>
                  <mat-select
                    formControlName="kategorie">
                    <mat-option *ngFor="let kategorie of kategorieOptions"
                                [value]="kategorie.value"
                                (onSelectionChange)="onKategorieChange(i)">{{kategorie.label}}</mat-option>
                    <mat-option value="benutzerdefiniert">Benutzerdefiniert</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field *ngIf="abschnitt.get('kategorie')?.value === 'benutzerdefiniert'">
                  <mat-label>Gib eine neue Kategorie ein</mat-label>
                  <input matInput formControlName="benutzerdefinierteKategorie">
                </mat-form-field>
              </fieldset>

              <fieldset>
                <legend>Datum der Transaktion</legend>
                <mat-form-field>
                  <mat-label>Wähle ein Datum</mat-label>
                  <input matInput [matDatepicker]="picker"
                         formControlName="datumTransaktion">
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </fieldset>

              <fieldset>
                <legend>Ausgabe</legend>
                <mat-form-field>
                  <mat-label>Ausgabe Betrag</mat-label>
                  <input matInput formControlName="betragAusgabe">
                </mat-form-field>
              </fieldset>
            </div>

            <div class="transaktion__ausgabe--loeschen" *ngIf="i > 0">
              <mat-icon (click)="onAusgabeLoeschen(i)">close</mat-icon>
            </div>

          </div>
        </div>


        <button mat-stroked-button class="transaktion__button--hinzufuegen"
                (click)="onAusgabeHinzufuegen()">Weitere Ausgabe hinzufügen</button>

      </ng-container>

    </mat-card-content>
  </mat-card>
  <div>
    <button mat-stroked-button class="transaktion__button--speichern"
            (click)="onSpeichern()">Speichern</button>
    <button mat-stroked-button class="transaktion__button--abbrechen"
            (click)="onAbbrechen()">Abbrechen</button>
  </div>
</form>
