<mat-card class="uebersicht__table">
  <mat-card-header class="uebersicht__table--title">
    <mat-card-title>Transaktion Übersicht</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <mat-progress-spinner *ngIf="isLoading" mode="indeterminate" diameter="50"></mat-progress-spinner>

    <fieldset>
      <legend hidden>Datum der Transaktion</legend>
      <mat-form-field>
        <mat-label>Wähle das Jahr</mat-label>
        <mat-select (selectionChange)="onJahrChange($event.value)">
          <mat-option *ngFor="let jahr of jahrOptions"
                      [value]="jahr.value">{{jahr.label}}</mat-option>
        </mat-select>
      </mat-form-field>
    </fieldset>

    <table mat-table [dataSource]="dataSource" *ngIf="!isLoading">

      <ng-container matColumnDef="monat">
        <th mat-header-cell *matHeaderCellDef>Monat</th>
        <td mat-cell *matCellDef="let element">{{element.monatTransaktion}}</td>
      </ng-container>
      <ng-container matColumnDef="einnahmen">
        <th mat-header-cell *matHeaderCellDef>Einnahmen</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.einnahmen">
            {{element.einnahmen.hoehe}} {{element.einnahmen.waehrung}}
          </ng-container>
        </td>
      </ng-container>

      <ng-container *ngFor="let kategorie of kategorienSet" [matColumnDef]="kategorie">
        <th mat-header-cell *matHeaderCellDef>{{kategorie}}</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.ausgaben[kategorie]">
            {{element.ausgaben[kategorie].hoehe}} {{element.ausgaben[kategorie].waehrung}}
          </ng-container>
        </td>
      </ng-container>
 <!--     <ng-container matColumnDef="miete">
        <th mat-header-cell *matHeaderCellDef>Miete</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.ausgaben.miete">
            {{element.ausgaben.miete.hoehe}} {{element.ausgaben.miete.waehrung}}
          </ng-container>
        </td>
      </ng-container>
      <ng-container matColumnDef="strom">
        <th mat-header-cell *matHeaderCellDef>Strom</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.ausgaben.strom === 'strom'">
            {{element.ausgaben.strom.hoehe}} {{element.ausgaben.strom.waehrung}}
          </ng-container>
        </td>
      </ng-container>
      <ng-container matColumnDef="lebensmittel">
        <th mat-header-cell *matHeaderCellDef>Lebensmittel</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.ausgaben.lebensmittel">
            {{element.ausgaben.lebensmittel.hoehe}} {{element.ausgaben.lebensmittel.waehrung}}
          </ng-container>
        </td>
      </ng-container>
-->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>

<button mat-stroked-button
        class="uebersicht__button"
        (click)="onNeuErfassen()">Transaktion Erfassen</button>
