.uebersicht {
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
  background-color: #ffffff;

  &__title {
    margin-bottom: 10px;
    color: #0077b6;
  }

  &__darstellung {
    margin-right: 10px;
  }

  &__container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
  }

  &__links {
    flex: 3;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    overflow-x: hidden;
  }

  &__rechts {
    flex: 1;
    border-left: 1px solid #0077b6;
    padding-left: 10px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__table {
    background-color: #ffffff;
    border: 1px solid white;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    display: block;

    & tr:last-child td {
      background-color: rgba(147, 202, 246, 0.2);
      font-weight: bold;
    }

    & tr:hover {
      background-color: #93caf6;
    }

    & th {
      background-color: #0077b6;
      color: #ffffff;
      font-weight: 700;
    }

    & td {
      color: #3a3a3a;
      font-weight: 400;
    }

  }

  &__button {
    background-color: #66bb6a;
    margin-right: 10px;
    &:hover {
      background-color: #4caf50;
    }
  }
}

