.uebersicht {

  &__table {
    margin-bottom: 20px;
    padding: 20px;
    min-width: 150px;
    max-width: 100%;
    width: 100%;

    &--title {
      margin-bottom: 10px;
    }
  }

  &__datum {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;

    &--jahr{
      margin: 0 10px;
    }
  }
}

